/target/
/work/
*.hpl
/work/plugins/kpp.hpl
/work/updates/hudson.tools.JDKInstaller
/work/updates/hudson.tasks.Maven.MavenInstaller
/work/updates/hudson.tasks.Ant.AntInstaller
/work/updates/default.json